:root {
    --color-section-background: #283046;
    --color-header-text: #a1a0a0;
    --color-section-highlight: #7367F0;
    --color-header-active: #ffffff;
    --color-section-text: #e4e4e4;
    --color-section-secondary: #B4B7BD;
    --color-section-tertiary: #2F2E41;
    --color-section-card-background: #343c56;
    --color-highlight-green: #01ca1c;
}